.team_title{
	font-size : 200%;
    margin : 16px 0px 0px 18px;
    float: left;
}

.team_div{
	float: left;
}
.team_icon{
	font-size : 225% !important;
	color: #4c4c4c !important;
	width: :20% !important;
}

.o_followers > .o_followers_title_box > .dropdown-toggle > i.fa-user {
	color: #1E77C5;
}
