.o_form_view {

    // Groups
    .o_group {
        .o_td_label {
            border-right: 1px solid #ddd;
            text-align: right;
        }
        .o_td_label + td {
            padding: 0px 36px 0px 8px;
        }
        .o_field_widget.o_text_overflow {
            width: 1px!important; // hack to make the table layout believe it is a small element (so that the table does not grow too much) ...
            min-width: 100%;      // ... but in fact it takes the whole table space
        }
    }
    
  }
