//
// This file regroups all the rules which apply to field widgets wherever they
// are in the DOM, in both community and enterprise versions.
//

// Stars
.o_field_widget {
    &.o_priority {
        display: inline-block;
        padding: 0;
        margin: 0;
        vertical-align: baseline;
        > .o_priority_star {
            display: inline-block;
            padding:0;
            font-size: 1.00em;
            &:hover, &:focus {
                text-decoration: none;
                outline: none;
            }

            + .o_priority_star {
                padding-left: 5px;
            }

            &.fa-star-o {
                color: #a8a8a8;
            }
            &.fa-star {
                color: black;
            }
        }
    }

    // Favorite
    &.o_favorite {
        i.fa {
            font-size: 16px;
        }
        i.fa-star-o {
            color: #a8a8a8;
            &:hover {
                color: black;
            }
        }
        i.fa-star {
            color: black;
        }
    }
}